/* CSS */

/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Inspiration&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fruktur&family=Inspiration&family=Secular+One&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fruktur&family=Inspiration&family=Secular+One&family=Shadows+Into+Light&display=swap');

/*FONTAWESOME*/
@import "path/to/font-awesome/less/font-awesome.less";

table tr td{
    padding: 80px;
}
a {
    text-decoration: none;
}
/* INDEX */
.banner{
    width:100%;
    height: 400px;
    
}

.titulo{
    margin-top: -30%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 200px;

}

.subtitulo{
    font-family: 'Shadows Into Light', cursive;
    margin-top: -10%;
    text-align: center;
}



.ofertas{
    font-family: 'Fruktur', cursive;
    font-size: 44px;
    margin-top: -2%;
    text-align: center;
}


.mostrador{
    width: 500px;
    height: 400px;
    border: 3px solid black;
    border-radius: 5%;
    margin-left: 10%;
}

.mostrador:hover{
    filter: blur(5px);
}

.row{
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
}

.column{
    flex: 25%;
    padding: 20px;
}

.column img{
    margin-top: 50px;
}

/* BOTON CARRITO - TEMPLATE */ 

.carrito {
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
    visibility: hidden;
}
.carrito:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}
.carrito:active {
	position:relative;
	top:1px;
}


/* TITULO ESTACIONES - TEMPLATE */

.estaciones{
    background-color: black;
    /*opacity:60%;*/
    text-align: center;
    border-radius: 20px;
    color: white;
    font-style: Arial;
    font-weight: bold;
    font-size: 33px;
    width: 10%;
    height: 5%;
    padding:6px 24px;


}

.estaciones:hover{
    color: white;
    background:darkred;
    border-radius: 20px;
    font-style: Arial;
    font-weight: bold;
    font-size: 33px;
}






/* BOTON CARRITO ID */

#posicion_1{
    position:absolute;
    margin-top: -50%;
    margin-left: 23%;
}

#posicion_2{
    position:absolute;
    margin-top: -50%;
    margin-left: 68%;
}

#posicion_3{
    position:absolute;
    margin-top: -20%;
    margin-left: 23%;
}

#posicion_4{
    position:absolute;
    margin-top: -20%;
    margin-left: 68%;
}

#carrito_oferta_1{
    position:absolute;
    margin-top: -38%;
    margin-left: 23%;
}

#carrito_oferta_2{
    position:absolute;
    margin-top: -38%;
    margin-left: 68%;
}

#carrito_oferta_3{
    position:absolute;
    margin-top: -9%;
    margin-left: 23%;
}

#carrito_oferta_4{
    position:absolute;
    margin-top: -9%;
    margin-left: 68%;
}

.mostrador:hover #posicion_1{
    visibility: visible;
}


/*APP*/

.app {
    margin-left: 25%;
    margin-top: -3%;
    background-color: darkred;
    color: white;
    width: 50%;
    height: 50%;
    border-radius: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    border: 4px solid black;
}

.app:hover{
    background-color: #cf866c;
    color: darkred;
    border: 4px solid darkred;
    font-weight: bold;
}

.app p{
    margin-left: 20%;
    font-size: 22px;
    font-style: Arial;
    font-weight: bold; 
}

.app ul{
    margin-left: 10%;
    font-family: Arial;
    font-size: 15px;
}


/*BOTONERA*/

.botonera {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
}
.botonera:hover {
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}
.botonera:active {
	position:relative;
	top:1px;
}

/* TABLE BOTONERA*/

.tabla_botonera{
    margin-top: 4%;
    margin-left: 10%;
}


/* IR ARRIBA */

.ir-arriba {
	display:none;
	padding:20px;
	background:#9f0303;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
    border-radius: 20px;
}

/*BOTON ENVIAR */

.btn_Enviar {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.btn_Enviar:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.btn_Enviar:active {
	position:relative;
	top:1px;
}

/* CONTACTO */

.contacto{
    text-align: center;
    font-size: 33px;
    font-family: Arial;
    font-weight: bold;
}

.contacto-subtitulo{
    text-align: center;
    font-size: 22px;
    font-family: Arial;
    font-weight: bold;
}

.contacto-formulario{
    margin-left: 25%;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial;
    background-color: #91b8b3;
    border-radius: 5%;
    width: 50%;
}

.introduccion{
    margin-top: 5%;
    margin-left: 25%;
    font-family: 'Fruktur', cursive;
    text-align: center;
    width: 50%;
}

/*FOOTER*/

.footer{
    background-color: black;
    width: 100%;
    height: 20px;
    color: white;
    bottom:0;
    left:0;
    text-align: center;
    font-family: 'Acme', sans-serif;
}


/* QUIENES SOMOS */

    .QS{
        margin-left: 8%;
        text-align: justify;
        width: 80%;
        font-size: 18px;
        font-family: Arial;
    }

    .ImagenQS{
        width: 50%;
    }


  @media screen and (max-width: 360px ) {
   

    .banner{

        width: 333%;
    }

    .titulo{
        margin-left: 400px;
    }

    .subtitulo {
        position: absolute;
        margin-top: -190px;
        width: 1000px;
    }

    .ofertas{
        margin-left: 500px;
    }

    .introduccion{
        width: 200%;
        margin-left: 55%;
    }

    .mostrador{
        width:100%;
        height: 20%;
        margin-left: 150%;
    }

    #carrito_oferta_1{
        position:absolute;
        margin-top: -320%;
        margin-left: 138%;
    }
    
    #carrito_oferta_2{
        position:absolute;
        margin-top: -230%;
        margin-left: 138%;
    }
    
    #carrito_oferta_3{
        position:absolute;
        margin-top: -140%;
        margin-left: 138%;
    }
    
    #carrito_oferta_4{
        position:absolute;
        margin-top: -60%;
        margin-left: 138%;
    }

    .footer{
        background-color: black;
        width: 400%;
        height: 20px;
        color: white;
        bottom:0;
        left:0;
        text-align: center;
        font-family: 'Acme', sans-serif;
    }


}
  @media screen and (max-width: 700px ) {
   

    .banner{
        width:1180px;
        margin-left: 10px;
    }

    .titulo{
        margin-top: -500px;
    }
    .subtitulo{
        width: 1200px;
    }

    .ofertas{
        margin-left: 500px;
    }
    .introduccion{
        width: 1000px;
        margin-left: 100px;
    }

    .mostrador{
        width:50%;
        height: 20%;
        margin-left: 70%;
    }

    #carrito_oferta_1{
        position:absolute;
        margin-top: -190%;
        margin-left: 75%;
    }
    
    #carrito_oferta_2{
        position:absolute;
        margin-top: -130%;
        margin-left: 75%;
    }
    
    #carrito_oferta_3{
        position:absolute;
        margin-top: -80%;
        margin-left: 75%;
    }
    
    #carrito_oferta_4{
        position:absolute;
        margin-top: -30%;
        margin-left: 75%;
    }

    .footer{
        background-color: black;
        width: 200%;
        height: 20px;
        color: white;
        bottom:0;
        left:0;
        text-align: center;
        font-family: 'Acme', sans-serif;
    }

}


